{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle catégorie{% endblock %}

{% block body %}
<div class="container mx-auto py-12 px-6 max-w-3xl">
    <h1 class="text-4xl font-semibold mb-8 text-center">Créer une nouvelle catégorie</h1>

    <div class="bg-white p-8 rounded-lg shadow-product hover:shadow-hover transition duration-300 transform hover:scale-105">
        {{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

        <!-- Form Fields -->
        <div class="space-y-4">
            <!-- Name Field -->
            <div class="form-group">
                {{ form_row(form.name, {
                    'attr': {'class': 'w-full border border-gray-300 px-4 py-3 rounded-lg focus:outline-none focus:ring focus:ring-blue-300'}
                }) }}
            </div>

            <!-- Description Field -->
            <div class="form-group">
                {{ form_row(form.description, {
                    'attr': {'class': 'w-full border border-gray-300 px-4 py-3 rounded-lg focus:outline-none focus:ring focus:ring-blue-300'}
                }) }}
            </div>
        </div>

<!-- Submit Button -->
<div class="text-center mt-6">
    <button type="submit" class="inline-block w-full max-w-xs bg-primary_dw text-white px-6 py-3 rounded-lg shadow-md hover:bg-secondary_dw focus:ring-2 focus:ring-primary_dw transition duration-300 transform hover:scale-105">
        Créer une catégorie
    </button>
</div>

<!-- Back Link -->
<div class="mt-6 text-center">
    <a href="{{ path('app_category_index') }}" class="inline-block w-full max-w-xs text-center bg-primary_dw text-tertiary_dw px-6 py-3 rounded-lg shadow-md hover:bg-secondary_dw hover:text-primary_dw focus:bg-secondary_dw focus:text-primary_dw transition duration-300 transform hover:scale-105">
        Retour à la liste des catégories
    </a>
</div>


        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
