{% extends 'base.html.twig' %}

{% block title %}Editer la commande{% endblock %}

{% block body %}
<div class="container mx-auto py-20 px-6 my-12 max-w-4xl">
    <h1 class="text-3xl font-bold mb-8 text-center text-primary_dw">Editer la commande</h1>

    <div class="bg-white p-8 rounded-lg shadow-product hover:shadow-hover transition duration-300 transform hover:scale-105">
        {{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}
            <div class="space-y-4">
                {{ form_row(form.status, {'attr': {'class': 'w-full border border-gray-300 px-4 py-2 rounded-md focus:outline-none focus:ring-primary_dw focus:border-primary_dw'}}) }}
                
                {# Pour le champ createdAt, nous spécifions un format de date 'single_text' avec un format spécifique #}
                {{ form_row(form.createdAt, {
                    'attr': {
                        'class': 'w-full border border-gray-300 px-4 py-2 rounded-md focus:outline-none focus:ring-primary_dw focus:border-primary_dw',
                        'value': order.createdAt|date('Y-m-d H:i') 
                    }
                }) }}
            </div>

            <div class="mt-6 text-center">
                <button type="submit" class="w-full max-w-xs inline-block bg-primary_dw text-tertiary_dw py-3 px-6 rounded-lg shadow-md hover:bg-secondary_dw hover:text-primary_dw focus:outline-none focus:ring-2 focus:ring-secondary_dw transition duration-300 transform hover:scale-105">
                    Mise à jour 
                </button>
            </div>
            <div class="mt-6 text-center">
        <a href="{{ path('admin_orders_index') }}" class="w-full max-w-xs inline-block bg-primary_dw text-tertiary_dw py-3 px-6 rounded-lg shadow-md hover:bg-secondary_dw hover:text-primary_dw focus:outline-none focus:ring-2 focus:ring-secondary_dw transition duration-300 transform hover:scale-105">
            Retour
        </a>
    </div>
        {{ form_end(form) }}
    </div>

    
</div>
{% endblock %}
