<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Confirmation de commande</title>
</head>
<body>
    <h1>Merci pour votre commande, {{ order.user.firstName }} !</h1>
    <p>Votre commande numéro <strong>{{ order.id }}</strong> a bien été enregistrée.</p>

    <h2>Détails de votre commande :</h2>
    <ul>
        {# {% for item in order.orderItems %}
            <li>
                {{ item.product.name }} - {{ item.quantity }} x {{ item.price / 100 }}€
            </li>
        {% endfor %} #}
    </ul>

    {# <p>Total : <strong>{{ order.getTotal() / 100 }}€</strong></p> #}

    <p>Nous vous remercions pour votre confiance et espérons vous revoir bientôt.</p>
    <p>L'équipe de notre site.</p>
</body>
</html>
