{% extends 'base.html.twig' %}

{% block title %}Passer la commande{% endblock %}

{% block body %}
<div class="container mx-auto py-10">
    <h1 class="text-4xl font-semibold mb-6">Finaliser votre commande</h1>

    {{ form_start(form) }}
        <div class="space-y-6">
            {{ form_row(form.address) }}
            {{ form_row(form.comment) }}
        </div>

        <div class="mt-6">
            <button type="submit" class="bg-primary_dw text-tertiary_dw px-6 py-3 rounded-lg">
                {{ form.submit.vars.label }}
            </button>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
