{% extends 'base.html.twig' %}

{% block title %}User Details{% endblock %}

{% block body %}
<div class="container mx-auto py-10">
    <h1 class="text-3xl font-bold mb-6">User Details</h1>

    <div class="bg-white p-6 rounded shadow-md">
        <table class="table-auto w-full border-collapse border border-gray-300">
            <tbody>
                <tr>
                    <th class="border border-gray-300 px-4 py-2">Id</th>
                    <td class="border border-gray-300 px-4 py-2">{{ user.id }}</td>
                </tr>
                <tr>
                    <th class="border border-gray-300 px-4 py-2">First Name</th>
                    <td class="border border-gray-300 px-4 py-2">{{ user.firstName }}</td>
                </tr>
                <tr>
                    <th class="border border-gray-300 px-4 py-2">Last Name</th>
                    <td class="border border-gray-300 px-4 py-2">{{ user.lastName }}</td>
                </tr>
                <tr>
                    <th class="border border-gray-300 px-4 py-2">Email</th>
                    <td class="border border-gray-300 px-4 py-2">{{ user.email }}</td>
                </tr>
                <tr>
                    <th class="border border-gray-300 px-4 py-2">Roles</th>
                    <td class="border border-gray-300 px-4 py-2">{{ user.roles ? user.roles|join(', ') : '' }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-4 flex space-x-4">
        <a href="{{ path('app_user_index') }}" class="text-blue-500 hover:underline">Back to list</a>
        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="text-yellow-500 hover:underline">Edit</a>
        {{ include('user/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
